</head>
<nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
  <span class="fa fa-apple fa-2x fa-pull-left" style="color:white"></span>
  <a class="navbar-brand" href="/">Groza</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>





<body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-lg-7">
            <div class="container container-fluid">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-ship"></i>  Lifeboat Search</h3>
              </div>
              <div class="panel-body">
                <div class="col-lg-10">
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search text here" name="advanced_search_text"><span class="input-group-btn">
                      <button class="btn btn-success" hover="color:blue" id="adv_search" type="submit" name="dc_button" value="custom">Search</button></span>

                  </div>
                  <!-- input-group-->
                </div>
                <!-- col-lg-6-->
              </div>
              <!-- panel-body-->
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>      